*, ::after, ::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 62.5%;
    font-family: 'Raleway', sans-serif;
}

/* navigation */

header {
    height: 20rem;
    display:  flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    background: url(./images/etage1.jpg) center center no-repeat;
    background-size: cover;
}
.title {
    font-size: 1.8rem;
    color: #fff;
    margin-top: 1.5rem;
    font-family: 'Lora', serif;

}
.nav{
    display: none;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1.5rem;
    position :absolute;
    top: 35rem;
}
.block-menu {
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;

}
.block-menu span {
    text-align: center;
    position: relative;
    cursor: pointer;
}
.block-menu span a {
    text-decoration: none;
    color: #fff;
    font-family: 'Raleway', sans-serif;
    font-size: 1rem;
}
.block-menu span::after {
    content: "";
    display: block;
    width: 0;
    margin: 0.5em auto 0 auto;
    height: 0.2em;
    border-radius: 0.2em;
    background: #333;
    transition: all 0.2s ease-out;
}
.block-menu span:hover::after {
    width: 100%;
}
.btn-rond-menu {
    width: 5em;
    height: 5em;
    border-radius: 50%;
    background: #333;
    position: absolute;
    top: 3em;
    left: 0em;
    z-index: 10;
}
.cont-ligne {
    width: 3.6em;
    height: 3.6em;
    cursor: pointer;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.ligne-unique {
    width: 100%;
    height: 0.4em;
    border-radius: 0.5em;
    background: #f1f1f1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.ligne-unique::before {
    content: "";
    position: absolute;
    bottom: 1em;
    background: #f1f1f1;
    width: 100%;
    height: 0.4em;
    border-radius: 0.5em;
}
.ligne-unique::after {
    content: "";
    position: absolute;
    top: 1em;
    background: #f1f1f1;
    width: 100%;
    height: 0.4em;
    border-radius: 0.5em;
}
.cont-ligne.active .ligne-unique::after {
    top: 0;
    transform: rotate(45deg);
    transition: top 300ms ease, transform 300ms 300ms ease;
}
.cont-ligne.active .ligne-unique::before {
    top: 0;
    transform: rotate(-45deg);
    transition: top 300ms ease, transform 300ms 300ms ease;
}
.cont-ligne.active .ligne-unique {
    background: transparent;
}
.menu-visible {
    width: 100%;
    height: 10%;
    top:25em;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* ================================= intro ================================ */
.introduction {
    display: flex; 
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center_;
    margin: 3rem auto;
    width: 75%;
    padding: 1rem;
}
.intro-title {
    font-size: 1.5rem;
    font-family: 'Lora' sans-serif;
    margin-bottom: 2.5rem;
}

.intro-text {
    font-size: 1rem;
    text-align: justify;
}
.text1 {
    margin-bottom: 1rem;
}
.liens {
    width: 75%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin : auto;
    flex-wrap: wrap;
}
.picture-liens {
    width: 15rem;
    height: 15rem;
    border: 20px solid rgba(255,255, 255, .5);
    margin-bottom: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.items-liens1{
    background: url(./images/croqui.jpg) center center ;
}
.items-liens2{
    background: url(./images/burger1.jpg) center center ;
}
.items-liens3{
    background: url(./images/carbonara.jpg) center center ;
}
.items-liens4{
    background: url(./images/veloute.jpg) center center ;
}
a{
    text-decoration: none;
    color: #fff;
    font-size: 1.3rem;
    font-family: 'Raleway', sans-serif;
}
footer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin:5rem 0 0 0;
    background: #ddd;

}
.picture-footer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 5rem ;

}
.picture-footer p {
    font-size: 1rem;
    margin-bottom: 2rem;
}
.footer-img {
    height:5rem;
    width: 5rem;
    margin-right: .5rem;
}
.reseaux {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
}
.reseaux p {
    font-size: .8rem;
    color: #333;
    font-family: 'Raleway', sans-serif;
    margin-bottom: .5rem;
}
.icon-reseaux {
    height:1rem;
}
.liens-reseaux {
    margin : 0 2rem;
    color: #333;
    font-size:1rem;
    display: flex;


}

/* Page restaurant */
.header {
    width: 100%;
    height: 10rem;
    display: flex;
    justify-content: space-between;
    align-items: center; 
    flex-direction: column;
    
}
.groupe-nav{
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav-link {
    margin-right: 1rem;
}
.title-restaurant a {
    color : #333;
    font-size: 1.4rem;
    font-family: 'Lora' sans-serif;
}
.nav-restaurant {
    display:none;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1.5rem;
    top: 7rem;
}
.btn-rond-menu2{
    width: 5em;
    height: 5em;
    border-radius: 50%;
    background: #333;
    position: absolute;
    top: 3em;
    left: 0em;
    z-index: 10;
}
.title-restaurant {
    margin-top: 1.5rem;
}
.block-menu span .nav-link {
    color: #333;
    font-size: 1.1rem;
    font-family: 'Raleway', sans-serif;
}
.menu-visible2 {
    width: 100%;
    height: 10%;
    top:6em;
    display: flex;
    justify-content: center;
    align-items: center;
}
.baniere{
    width: 100%;
    height: 10rem;
    background: url(./images/etage1.jpg) center center no-repeat;
    background-size: cover;
    margin-top: 5rem;
}
.restaurant {
    width: 75%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 5rem auto;
}
.article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
}
.article h2 {
    font-size: 1.5rem;
    margin-bottom: 2rem;
    font-family: 'Lora', serif;
}
.article p {
    font-size: 1rem;
    text-align: justify;
    font-family: 'Raleway', sans-serif;
    line-height: 1.5;
}
.horaire-text {
    margin-bottom: 1rem;
}
table {
    font-size: 1.2rem;
    font-family: 'Raleway', sans-serif;
}
td {
    width: 6rem;
}

.contact-link {
    width: 75%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.content-link-text {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 1rem;
    font-size: 1rem;
    font-family: 'Raleway', sans-serif;
}
.content-link-text p {
    margin-bottom: .5rem;
}
.btn-link {
    padding: 1rem;
    cursor: pointer;
}
.btn-link a {
    color: #333;
}
/* La carte */
.presentation-carte {
    width: 75%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: auto;
    text-align: center;
}
.carte-title {
    font-size:1.5rem;
    font-family: 'Lora';
    margin-bottom: 1.5rem;;
}
.presentation-carte p {
    margin-bottom: 1rem;
    font-size: .8rem;
    font-family: 'Raleway', sans-serif;

}
.carte {
    width: 75%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 5rem auto;
    border : 1px solid #333;
    border-radius: .2rem;
    padding: 3rem;
    background: #f1f1f1
}
.carte-article {
    width: 75%;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    text-align: justify;
    margin-bottom: 1.2rem;
}
.carte-article h3 {
    font-size:1.2rem;
    font-family: 'Lora', serif;
    margin: 0 auto 2rem auto;   
}

.carte-article p{
    font-size: .8rem;
    font-family: 'Raleway', sans-serif;
    margin-bottom: .5rem;
}
/* section galerie */
.galerie {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 75%;
    margin: 3rem auto;
}
.galerie-title {
    font-size: 1.3rem;
    font-family: 'Lora', sans-serif;
    margin-bottom: 3rem;
}
.galerie p {
    font-size: .8rem;
    font-family: 'Raleway', sans-serif;
    margin-bottom: 1rem;
}
.container-carousel {
    width: 100%;
    margin: 0 auto;
    padding: 1rem;
}
.slider img {
    max-width: 100%;
    display: none;
}
img.active {
    display : block;
    animation: fade .8s;
}
@keyframes fade {
    from{
        opacity: 0;
    }
    to{
        opacity:1;
    }
}
.cont-btn {
    width:100%;
    height:auto;
    border: 1px solid #000;
    box-shadow: 0 10px 10px rgba(0,0, 0, .3);
    display: flex;
    justify-content: center;

}
.btn-nav{
    font-size: 20px;
    margin: 0 10px;
    cursor: pointer;
    color: #000;
}

/* section contact */
.contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 75%;
    margin :3rem auto; 
}
.content-contact-title {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.content-contact-title h2 {
    font-size: 1.3rem;
    font-family: 'Lora', serif;
    margin-bottom: 2rem;
}
.content-contact-title p {
    font-size: .8rem;
    font-family: 'Raleway', sans-serif;
    margin-bottom:1rem;
}
.content-renseignement {
    padding: 2rem;
    background : #f1f1f1;
    font-family: 'Raleway', sans-serif;
    width:100%;
    border: 1px solid #333;
    border-radius: .2rem;
}
.containt-contact {
    display: flex;
    justify-content:center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 3rem;
    width: 100%;
}
.containt-contact h2 {
    font-size: 1.1rem;
    margin-bottom:3rem;
    font-family: 'Lora', sans-serif;
}
.containt-contact p {
    font-size: .7rem;
    font-family: 'Raleway';
}
.containt-form {
    display: flex;
    justify-content:center;
    align-items:center;
    flex-direction: column;
}
.containt-form p {
    font-size: .8rem;
    margin-bottom: .9rem;
}
.containt-form input {
    border-top: 0;
    border-right: 0;
    border-left: 0;
    margin-bottom: 1rem;
    text-align: center;
    width: 85%;
}
.containt-form textarea {
    text-align: center;
}

/* Desktop */
@media screen and (min-width: 768px) {
    /* accueil */
    .btn-rond-menu, .btn-rond-menu2 {
        display: none;
    }
    header {
        height: 40rem;
    }
    .title {
        font-size: 3.5rem;
    }
    .nav {
        display : flex;
        top: 36rem;
    }
    .block-menu span {
        margin-right : 4rem;
    }
    .block-menu span a{
        font-size: 1.5rem;
        
    }
    .picture-liens {
        height:10rem;
        width: 10rem;
        margin: 2rem 2rem 0 0;
    }
    
    .footer-img {
        height:7rem;
        width: 7rem;
        margin-right: 1rem;
    }
    .reseaux {
        width: 100%;
        flex-direction: row;
        justify-content: space-between;
        margin-right: 2rem;
    }
    .reseaux p {
        margin-left: 2rem;
    }
    .liens-reseaux {
        margin-right: 1rem;
    }
    /* restaurant */
    .header {
        height: 5rem;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .title-restaurant {
        position: relative;
        top: 1.5rem;
        
    }
    .title-restaurant a {
        font-size: 2rem;
    }
    .groupe-nav1 {
        margin-left: 4rem;
    }
    .nav-restaurant {
        width :100%;
        display: flex;
        justify-content: space-between;
    }
    .groupe-nav.block-menu span .nav-link {
        color: #333;
        font-size: 1rem;
        cursor: pointer;
    }
    .baniere {
        height: 15rem;
    }
    /* carte */
    .presentation-carte {
        margin-top: 4rem;
    }
    .carte {
        width : 50%;
    }
    .carte-article {
        align-items: center;
    }
    .contact {
        width: 50%;
    }
}

@media screen and (min-width: 1350px) {
    .picture-liens {
        height:10rem;
        width: 10rem;
        margin-right: 5rem;
    }
    .border-image {
        border: 1.5rem solid black;
        height: 10rem;
        width : 10rem;
    }
    .block-menu span {
        margin-right : 4rem;
    }
    
}